:root {
  --primary-color: #1f96f8;
  --clr-red: #ee0014;
  --transition-speed: 150ms;
    --bg-secondary: grey;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  display : flex;
  flex-direction : column;
  justify-content: center;
}

@media only screen and (max-width: 760px) {
    main{
        margin: 0;
        margin-bottom : 5rem;
    }
}

.btn {
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 3px 5px #cfcfcf;
  display: inline-block;
  letter-spacing: 1px;
}
label.btn {
  display: inline-block;
  width: fit-content;
  max-width: auto;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: normal;
}
.btn:hover {
  box-shadow: 0 1px 2px #cfcfcf;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 2em;
  border-radius: 3px;
  position: relative;
  animation: 0.3s pop linear;
}
.modal-content.preview {
  max-width: 600px;
}
.modal-content.preview .grey-container {
  margin-bottom: 0;
  background-color: transparent;
}
@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.modal-content .close {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  color: var(--clr-red);
  cursor: pointer;
}

.heading {
  font-size: 2.5em;
  text-transform: capitalize;
}

.container {
  --container-px: 15vw;
  padding: 0 var(--container-px);
}
.container.main {
  padding: 3vw var(--container-px);
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3em;
}
.section img,
.section .content {
  width: 50%;
}
.section h1 {
  font-size: 3em;
}
.section h1 span {
  color: var(--primary-color);
}
.section p {
  margin: 2vw 0;
  color: rgb(122, 122, 122);
  letter-spacing: 1px;
}
.section p .li {
  border-left: 5px solid var(--primary-color);
  padding: 3px 0 3px 5px;
  display: block;
  margin-bottom: 1vw;
}
.section a {
  font-size: 0.8em;
}

/* h1.heading{
  margin:15px;
align-items: center;
} */
.Gforms {
  margin-right: 80px;
}
.Gform-input {
  padding: 2rem;
  width: 70vw;
  margin-left: -28px;
}
.Gform-container {
  max-width: 1500px;
  margin-left: 100px;
  padding: 1rem;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
}

.grey-container {
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.05);
  /* margin-top: 0.1%; */
}
.add-field-container p {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 15%;
}
.add-field-container .btn {
  margin: 0 5px 0.5em 0;
  margin-left: 18%;
}

.input {
  margin-bottom: 1.5em;
}
.input label,
.input input,
.input textarea {
  display: block;
}
.input label {
  font-weight: bold;
  margin-bottom: 3px;
}
.input input,
.input textarea {
  outline: none;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #000;
}
.input textarea {
  min-height: 100px;
}
.input.inline {
  display: flex;
  align-items: center;
}
.input.inline label {
  margin-right: 1em;
}
.input.inline label,
.input.inline input {
  display: inline;
  width: auto;
}
input.file {
  display: none;
}
.file-field {
  display: flex;
  align-items: center;
}
.file-field label {
  margin-right: 1em;
}

.cards-container {
  margin-top: 2em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.cards-container.submissions {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.card {
  padding: 1em;
  box-shadow: 0 2px 5px #b8b8b8;
  border-radius: 5px;
}
.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-date {
  font-size: 0.6em;
  font-weight: normal;
  color: #999;
}
.card-nav {
  text-align: right;
  padding-top: 0.5em;
}
.card-nav .nav-item {
  margin-left: 0.5em;
  background-color: rgba(5, 104, 252, 0.1);
  color: rgba(5, 104, 252, 1);
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
.card-nav .nav-item:nth-child(2) {
  background-color: rgba(0, 243, 32, 0.1);
  color: rgb(0, 165, 22);
}
.card-nav .nav-item:nth-child(3) {
  background-color: rgba(243, 0, 0, 0.1);
  color: rgba(243, 0, 0, 1);
}

.msg {
  text-align: center;
  color: #7e7d7d;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0.5em 0;
  border-radius: 3px;
}
.progress-bar .progress {
  height: 100%;
  width: 0;
  background-color: var(--primary-color);
  transition: width 0.2s;
  border-radius: 3px;
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding-top: max(1.5em, 2vw);
  padding-bottom: max(1.5em, 2vw);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer .title {
  color: #fff;
  font-weight: bold;
}
.footer .li {
  margin-top: 0.5em;
  display: block;
  color: #fff;
}
.footer a.li {
  text-decoration: underline;
  letter-spacing: 2px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.b {
  font-weight: bold;
}

.p-1 {
  padding: 1em;
}

.mt-1 {
  margin-top: 1em;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mr-1 {
  margin-right: 1em;
}

.err {
  color: var(--clr-red);
}

.alt {
  color: var(--primary-color);
  display: block;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.link {
  color: var(--primary-color);
  word-wrap: break-word;
}

.spinner {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 5px solid var(--primary-color);
  border-left: 5px solid transparent;
  border-radius: 50%;
  animation: 0.5s spin linear infinite;
}
.spinner.white {
  border: 5px solid #fff;
  border-left: 5px solid transparent;
}
.spinner.red {
  border: 5px solid rgba(243, 0, 0, 1);
  border-left: 5px solid transparent;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1050px) {
  .container {
    --container-px: 10vw;
  }
  .Gform-container {
    --container-px: 6vw;
    overflow-x: hidden;
    margin-left: 13px;
  }
  .w-100 {
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .container {
    --container-px: 6vw;
    overflow-x: hidden;
  }
  .Gform-container {
    --container-px: 6vw;
    overflow-x: hidden;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .icons {
    width: 35px;
  }
  .section img,
  .section .content {
    width: 100%;
  }
  .section .content {
    text-align: center;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .btn {
    padding: 1em 0em;
    font-size: 10px;
  }
}
@media (max-width: 360px) {
  .Gform-container {
    --container-px: 3vw;
    margin-left: 0px;
    margin-bottom: 10px;
    overflow-x: hidden;
  }
  .Gform-input {
    padding: 1rem;
    margin-left: -10px;
    width: 70vw;
  }
  .icons {
    width: 40px;
  }
  .btn {
    padding: 1em 0em;
    font-size: 10px;
  }
  .w-100 {
    margin-bottom: 75px;
  }
}
@media (max-width: 450px) {
  .container {
    --container-px: 3vw;
    overflow-x: hidden;
  }
  .Gform-container {
    --container-px: 3vw;
    margin-bottom: 50px;
    margin-left: 0px;
    overflow-x: hidden;
  }
  .icons {
    width: 62px;
  }

  .footer {
    grid-template-columns: 1fr;
  }
  .footer > div {
    margin-top: 1em;
    text-align: center;
  }
  .footer > div:nth-child(1) {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .btn {
    padding: 1em 0em;
    font-size: 10px;
  }
  .w-100 {
    margin-bottom: 75px;
  }
}
