/* .Nav {
    display: flex;
    padding: 0 1%;
    background-color: lightgray;
} */

.Tabs {
    display: flex;
    /* padding: 0 30vw; */
    /* background-color: lightgray; */
    align-items: center;
}

.item {
    flex: 1;
    margin: 0 20%;
    color: white;
    /* background-color: gray; */
    text-align: center;
}