.icons {
    display: inline;
    margin: 5px 10px 5px 10px;
    /* color: rgb(255, 255, 255); */
    font-size: 24px;
    align-self: center;
    color: rgba(0, 0, 0, 0.801);

}
.iconss {
    display: inline;
    margin: 5px 10px 5px 10px;
    /* color: rgb(255, 255, 255); */
    font-size: 24px;
    align-self: center;
    color: rgba(0, 0, 0, 0.801);

}
.navbar {
    /* background-color: rgb(69, 93, 246); */
    border-top: 1px solid rgba(68, 67, 67, 0.212);
    display: flex;
    flex-direction:row ;
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    /* overflow-x: scroll !important; */
}

.icons:hover{
    color: #46aff5 !important;
}
.iconss:hover{
    color: #ffffff !important;
}