.sidebar {
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh !important;
  left: 0;
  position: fixed;
  width: 20vw;
  min-width: 250px;
  max-width: 280px;
  background: rgb(34, 154, 195);
  background: linear-gradient(
    0deg,
    rgb(53, 151, 184) 0%,
    rgb(73, 128, 232) 100%
  );
  padding-top: 1.5rem;
  height: 200px;
  position: fixed;
  /* border: 3px solid green;  */
}

.combo {
  display: flex;
  flex-direction: column;
}

.navLinks {
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.801);
  /* border: 2px solid black; */
  margin: 3px;
  /* border-radius: 50px; */
  margin: 0;
  position: relative;
  top: 10%;
  /* bottom: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navLinks:hover {
  background-color: rgb(149, 150, 240);
  border-right: 3px;
  border-radius: 0.5rem;
  color: #000000 !important;
}

.navLinkss {
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.801);
  /* border: 2px solid black; */
  margin: 3px;
  /* border-radius: 50px; */
  margin: 0;
  position: relative;
  top: 10%;
  /* bottom: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logoNav {
  color: #000000;
  /* border: 2px solid rgba(255, 255, 255, 0); */
  font-weight: 700;
  font-size: x-large;
  border: 2px solid black !important;
  /* border-width: 0.5vw !important; */
  background-color: rgb(195, 239, 255);
  width: 19wv;
  border-radius: 5px;
}

img {
  font-size: xx-large;
  /* max-width: 100%; */
  height: 50px;
}

.gotopbutton {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  background: #ffffff;
  right: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 100%;
  line-height: 50px;
  /* color: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 100%); */
  font-size: 30px;
}

/* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    right: 30px;
    position: fixed;
    bottom: 65px;
    border-radius: 5px;
    top: 100px;

}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
} */
.Drop {
  /* top: 650px;
    left: 1340px; */
  position: fixed;
  bottom: 75px;
  right: 15px;
}
