table {
  border-collapse: collapse;
  margin: 25px auto;
  margin-left: 28rem;
  /* margin-right: 20rem; */
  width: 60%;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(65, 68, 232, 0.977);
  font-size: 0.9rem;
  font-family: sans-serif;
  /* font-family: sans-serif; */
  /* overflow-y: auto; */
  overflow-y: scroll;
  /* position: fixed; */

  /* height: 100vh; */
}

.table-form {
  height: auto;
  /* background-color: red; */
  margin-bottom: 10px !important;
}

.tab {
  position: absolute;
  margin-left: 21rem;
  margin-top: 20px;
  width: 50vw;
}

.icons:hover {
  color: #424141;
  cursor: pointer;
  box-shadow: 0 0 0 10px #c0c0c0;
  background-color: #c0c0c0;
}

.icons {
  color: #252525;
  /* flex-direction: row; */
  margin-right: 40px;
  border: hidden;
  border-radius: 100%;
  transition: all 0.2s ease-in;
  width: 80px;
}

.icons-add {
  color: #252525;
  border: hidden;
  border-radius: 100%;
  transition: all 0.2s ease-in;
  display: none;
  /* visibility: hidden; */
}

.icons-add:hover {
  color: #424141;
  cursor: pointer;
  box-shadow: 0 0 0 10px #c0c0c0;
  background-color: #c0c0c0;
}

thead {
  text-align: center;
  color: #ffffff;
  background-color: rgb(7, 43, 63);
  font-weight: 900;
  font-family: "Poppins";

  border-bottom: 2px solid #0f323d;
}

tbody {
  background-color: #ffffff;

  font-family: "Poppins";
}

tbody td {
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
  color: rgb(105, 105, 105);
  width: 30px;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #0e2e39;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #f8f7f7;
}

th,
td {
  padding: 10px;
}
th {
  width: 10px!important;
}

@media (max-width: 768px) {
  table {
    margin-left: 0;
    width: 100%;
  }

  table thead {
    display: none;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 10px;
  }

  table tbody tr td::before {
    content: attr(data-label);
    display: block;
    font-weight: 900;
  }

  .icons-add {
    visibility: visible;
    display: inline-block;
  }

  .icons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.paginationBttns {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20px;
  /* flex-direction: row; */

  list-style: none;
}

.paginationBttns a {
  padding: 5px 10px;

  margin: 0.5rem;
  font-weight: 600;
  height: 40px;
  min-width: 40px;
  border-radius: 50px;
  font-size: 19px;
}

.paginationBttns a:hover {
  border-style: border-box;
  box-shadow: 0 0 0 4px #c0c0c0;
  transition: 0.3s ease-out;
}

.paginationBttns a:active {
  background-color: #4d4d4e;
}

.paginationBttns a:focus {
  background-color: #00acc1;
  transition: all 0.3s ease-out;
}

.nextBttn {
  text-decoration: none;
}

.previousBttn {
  text-decoration: none;
}