.head {
  margin: auto;
}

.button {
  margin: auto;

  margin-top: 5px;
  padding: 5px;
}
.innerbutton {
  padding: 10px;
  color: white;
  background: linear-gradient(
    0deg,
    rgb(53, 151, 184) 0%,
    rgb(73, 128, 232) 100%
  );
}
.container {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 15rem;
}
.head-2 {
  /* padding: 20px; */
  letter-spacing: 4px;
}

@media (max-width: 760px) {
  .container {
    /* display: grid;
    grid-template-columns: 200px 200px; */
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .button {
    margin-top: 5px;
  }
}
